<template>
<v-app>
    <v-app-bar app color="primary" dark class="navbar">
        <span class="hidden-sm-and-up">
            <v-app-bar-nav-icon @click="sidebar = !sidebar"></v-app-bar-nav-icon>
        </span>
        <v-toolbar-title>
            <router-link to="/" tag="span" style="cursor: pointer">Stages Finder</router-link>
        </v-toolbar-title>
        <v-divider vertical class="mx-4"></v-divider>
        <v-toolbar-items class="hidden-xs-only" v-if="isLogged && $store.state.role === 'USER'">
            <v-btn text to="/internship">Créer un stage</v-btn>
        </v-toolbar-items>
        <v-toolbar-items class="hidden-xs-only" v-if="isLogged && $store.state.role === 'USER'">
            <v-btn text to="/myinternships">Mes demandes</v-btn>
        </v-toolbar-items>
        <v-toolbar-items class="hidden-xs-only" v-if="isLogged && $store.state.role === 'ADMIN'">
            <v-btn text to="/internships">Gérer les stages</v-btn>
        </v-toolbar-items>
        <v-toolbar-items class="hidden-xs-only" v-if="isLogged && $store.state.role === 'ADMIN'">
            <v-btn text to="/map">Statistiques</v-btn>
        </v-toolbar-items>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-xs-only">
            <v-btn color="secondary" v-if="!isLogged" @click="$router.push('/login')" key="Sign In">Connexion</v-btn>
            <v-btn color="secondary" v-else @click="signOut()" key="Sign Out">Déconnexion</v-btn>
        </v-toolbar-items>
    </v-app-bar>
    <v-main>
        <router-view />
    </v-main>
    <v-footer color="primary">
        <v-row justify="center">
            <v-col class="text-center white--text">
                Interships finder | Telecom Saint Étienne 2020
            </v-col>
        </v-row>
    </v-footer>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap" rel="stylesheet" />
</v-app>
</template>

<script lang="ts">
import {
    defineComponent,
    onMounted,
    ref
} from "@vue/composition-api";
import constants from './constants';

export default defineComponent({
    name: "App",
    setup(props, context) {
        let sidebar = ref(false);
        let isLogged = ref(false);
        const menuItems = [{
            title: "Connexion",
            path: "/login",
        }];
        context.root.$store.subscribe((mutation, state) => {
            if (state.role) {
                isLogged.value = true;
            } else {
                isLogged.value = false;
            }
        });

        onMounted(async () => {
            const jwt = localStorage.getItem(constants.LS_JWT)
            if (jwt) {
                context.root.$store.commit('setToken', jwt)
            }
        })
        return {
            sidebar,
            isLogged,
            menuItems,
        };
    },
    methods: {
        signOut() {
            this.$store.commit('setToken', null)
            this.$router.replace("/login");
        },
    },
});
</script>
