<template>
  <v-container fluid>
    <div class="my-10">
      <h1 class="text-center">
        Bienvenue sur la plateforme de stage en ligne de Télécom Saint-Etienne
      </h1>
    </div>
    <v-row v-if="!$store.state.role" justify="space-around">
      <v-col cols="auto"
        >Pour utiliser ce service, merci de vous connecter</v-col
      >
      <v-col cols="auto"
        ><v-btn @click="$router.replace('/login')" color="primary"
          >Se connecter</v-btn
        ></v-col
      >
    </v-row>
    <v-row justify="center" v-else>
      <v-col cols="12">
        <div class="map" ref="chartRef"></div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import {defineComponent} from "@vue/composition-api";

export default defineComponent({
  setup() {
    return {}
  },
});
</script>
<style scoped>

</style>
