<template>
<v-container>
    <internship-form></internship-form>
</v-container>
</template>

<script lang="ts">
import {
    defineComponent
} from '@vue/composition-api';
import InternshipForm from "@/components/InternshipForm.vue"

export default defineComponent({
    components: {
        InternshipForm
    },
    setup() {
        return {
        }
    }
})
</script>
