<template>
  <v-container>
    <v-row>
      <v-col>
        <v-data-table
          :footer-props="footerOptions"
          :headers="headers"
          :items="internships"
          item-key="id"
          class="elevation-1"
          :search="search"
          :loading="loading"
          loading-text="Acquisition des données..."
          :sort-by="['startDate']"
        >
          <template v-slot:top>
            <v-toolbar flat class="text-center">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Chercher"
                single-line
                hide-details
              ></v-text-field>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                @click="refreshInternships"
                :disabled="loading"
                >Recharger</v-btn
              >
            </v-toolbar>
          </template>
          <template v-slot:[`item.country`]="{ item }">
            <td>{{ countries[item.country] }}</td>
          </template>
          <template v-slot:[`item.name`]="{ item }">
            <td>{{ item.firstname + " " + item.lastname }}</td>
          </template>
          <template v-slot:[`item.startDate`]="{ item }">
            <td>{{ new Date(item.startDate).toLocaleDateString() }}</td>
          </template>
          <template v-slot:[`item.endDate`]="{ item }">
            <td>{{ new Date(item.endDate).toLocaleDateString() }}</td>
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-icon color="danger" @click="deleteStage(item)"
              >mdi-delete</v-icon
            >
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Internship } from "@/model/Internship";
import internshipService from "@/service/internshipService";
import am4geodataLangFR from "@amcharts/amcharts4-geodata/lang/FR";
import { defineComponent, onMounted, ref } from "@vue/composition-api";

export default defineComponent({
  setup() {
    const internships = ref([]);
    const search = ref("");
    const loading = ref(true);
    const footerOptions = {
      itemsPerPageOptions: [10, 20, 30, -1],
      itemsPerPageAllText: "Tous",
      itemsPerPageText: "Nombre par page",
    };
    const headers = [
      {
        align: "start",
        text: "Pays",
        value: "country",
      },
      {
        text: "Ville",
        value: "city",
      },
      {
        text: "Nom",
        value: "name"
      },
      {
        text: "Email",
        value: "email",
      },
      {
        text: "Date de début",
        value: "startDate",
      },
      {
        text: "Date de fin",
        value: "endDate",
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
      },
    ];

    onMounted(async () => {
      try {
        const res = await internshipService.getInternshipsByQueries([], []);
        loading.value = false;
        internships.value = res?.data.internships;
      } catch (err) {
        loading.value = false;
        console.log(err);
      }
    });

    const names = Object.values(am4geodataLangFR).map(
      (name) => name.split(",")[0]
    );
    const ids: any = Object.keys(am4geodataLangFR);
    let countries: any[] = [];
    for (let i = 0; i < ids.length; i++) {
      countries[ids[i]] = names[i];
    }

    return {
      headers,
      internships,
      search,
      loading,
      footerOptions,
      countries,
    };
  },

  methods: {
    async refreshInternships() {
      this.loading = true;
      try {
        const res = await internshipService.getInternshipsByQueries([], []);
        this.internships = res?.data.internships;
      } catch (err) {
        console.log(err);
      } finally {
        this.loading = false;
      }
    },

    editStage(stage: Internship) {
      this.$router.push("/internship/" + stage.uid);
    },

    async deleteStage(stage: Internship) {
      try {
        await internshipService.deleteInternship(stage.uid);
        this.refreshInternships();
      } catch (err) {
        console.log(err);
      }
    },
  },
});
</script>

<style>
</style>
