<template>
<v-container fluid>
    <div class="text-center">
        <h1>Connexion</h1>
    </div>
    <v-row align="center" justify="center">
        <v-col cols="10">
            <v-form ref="form" @submit.prevent="login()" v-model="valid">
                <v-row>
                    <v-col>
                        <v-text-field autocomplete name="email" label="email" id="email" type="email" v-model="user.email" :rules="[rules.required]" required></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-text-field name="password" label="Mot de passe" id="password" v-model="user.password" :rules="[rules.required]" @click:append="() => (passwordHidden = !passwordHidden)" :append-icon="passwordHidden ? 'mdi-eye' : 'mdi-eye-off'" :type="passwordHidden ? 'password' : 'text'" maxlength="60" counter="60" required></v-text-field>
                    </v-col>
                </v-row>
                <v-row class="text-center">
                    <v-col cols="12">
                        <v-alert type="error" v-if="errors.otherError">Une erreur est survenue</v-alert>
                        <v-alert type="error" v-if="errors.badCredentials">Identifiants incorrects</v-alert>
                    </v-col>
                    <v-col cols>
                        <v-btn class="text-capitalize" color="primary" text to="/register">Créer un compte</v-btn>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col>
                        <v-btn :disabled="!valid" color="primary" type="submit">Se connecter</v-btn>
                    </v-col>
                </v-row>
            </v-form>
        </v-col>
    </v-row>
</v-container>
</template>

<script lang="ts">
import userService from "../service/userService";
import {
    defineComponent,
    ref,
    reactive,
} from "@vue/composition-api";
import constants from '@/constants';

export default defineComponent({
    name: "SignIn",
    setup() {
        const user = reactive({
            email: "",
            password: "",
        });
        const passwordHidden = ref(true);
        const errors = reactive({
            otherError: false,
            badCredentials: false
        });
        const rules = {
            required: (v: any) => !!v || "Ce champs est requis",
        };
        return {
            user,
            valid: ref(false),
            errors,
            rules,
            passwordHidden,
        };
    },
    methods: {
        async login() {
            this.errors.otherError = false;
            this.errors.badCredentials = false
            try {
                const res = await userService.signIn(
                    this.user.email,
                    this.user.password
                );
                const jwt = res.data.token;
                this.$store.commit("setToken", jwt);
                localStorage.setItem(constants.LS_JWT, jwt)
                this.$router.replace("/");
            } catch (err) {
                if (err.response && err.response.status === 401) {
                    this.errors.badCredentials = true
                } else {
                    this.errors.otherError = true
                }
            }
        },
    },
});
</script>
