<template>
<v-container fluid>
    <div class="text-center">
        <h1>Créer un compte</h1>
    </div>
    <v-row align="center" justify="center">
        <v-col cols="10">
            <v-form ref="form" @submit.prevent="create()" v-model="valid">
                <v-row>
                    <v-col cols="12" md="6">
                        <v-text-field autocomplete name="email" label="Email" id="email" type="email" v-model="user.email" :rules="[rules.required, rules.email]" required></v-text-field>
                        <v-alert type="error" v-if="errors.emailAlreadyExists">"Cet email existe déjà</v-alert>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-combobox :items="promo" v-model="user.promotion" label="Promotion" required :rules="[rules.required]">
                        </v-combobox>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" md="6">
                        <v-text-field name="lastname" label="Nom" id="lastname" type="text" v-model="user.lastname" :rules="[rules.required, rules.min]" maxlength="50" counter="50" required></v-text-field>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-text-field name="firstname" label="Prénom" id="firstname" type="text" v-model="user.firstname" :rules="[rules.required, rules.min]" maxlength="50" counter="50" required></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" md="6">
                        <v-text-field name="password" label="Mot de passe" id="password" v-model="user.password" :rules="[rules.required, rules.password]" @click:append="() => (passwordHidden = !passwordHidden)" :append-icon="passwordHidden ? 'mdi-eye' : 'mdi-eye-off'" :type="passwordHidden ? 'password' : 'text'" maxlength="60" required></v-text-field>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-text-field name="confirmPassword" label="Confirmation du mot de passe" id="confirmPassword" @click:append="
                  () => (confirmPasswordHidden = !confirmPasswordHidden)
                " :append-icon="confirmPasswordHidden ? 'mdi-eye' : 'mdi-eye-off'" :type="confirmPasswordHidden ? 'password' : 'text'" v-model="user.confirmPassword" :rules="[rules.required, rules.confirmPassword]" maxlength="60" required></v-text-field>
                    </v-col>
                </v-row>
                <v-row class="text-center">
                    <v-col cols="12">
                        <v-alert type="error" v-if="errors.otherError">Une erreur est survenue</v-alert>
                    </v-col>
                    <v-col>
                        <v-btn class="text-capitalize" color="primary" text to="/login">Déjà un compte ?</v-btn>
                    </v-col>
                    <v-spacer> </v-spacer>
                    <v-col>
                        <v-btn :disabled="!valid" color="primary" type="submit">Créer</v-btn>
                    </v-col>
                </v-row>
            </v-form>
        </v-col>
    </v-row>
</v-container>
</template>

<script lang="ts">
import userService from "../service/userService";
import validator from "validator";
import {
    defineComponent,
    ref,
    reactive
} from "@vue/composition-api";
import constants from '@/constants';

export default defineComponent({
    name: "SignUp",
    setup() {
        const user = reactive({
            email: "",
            firstname: "",
            lastname: "",
            password: "",
            promotion: "",
        });
        const promo = ["FISE1", "FISE2", "FISE3", "CITISE1", "CITISE2", "FISA1", "FISA2", "FISA3"]
        const passwordHidden = ref(true);
        const confirmPasswordHidden = ref(true);
        const errors = reactive({
            emailAlreadyExists: false,
            usernameAlreadyExists: false,
            otherError: false,
        });
        const rules = {
            required: (v: any) => !!v || "Champs requis",
            email: (v: any) => (v && validator.isEmail(v)) || "Email incorrect",
            min: (v: any) => (v && v.length >= 3) || "Le champs est trop court",
            password: () => {
                // const regex = /^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])([^\s]){6,60}$/gm;
                return true; //regex.test(v) || context.root.$t("login.wrongPassword");
            },
            confirmPassword: (v: string) => {
                return v === user.password || "Les mots de passe sont différents";
            },
        };
        return {
            user,
            valid: ref(false),
            errors,
            rules,
            passwordHidden,
            promo,
            confirmPasswordHidden,
        };
    },
    methods: {
        async create() {
            this.errors.emailAlreadyExists = false;
            this.errors.usernameAlreadyExists = false;
            this.errors.otherError = false;
            try {
                const res = await userService.signUp(this.user);
                console.log(res)
                const jwt = res.data.token;
                this.$store.commit("setToken", jwt);
                localStorage.setItem(constants.LS_JWT, jwt)
                this.$router.replace("/");
            } catch (e) {
                if (e.response.data._title == "EMAIL_ALREADY_EXISTS") {
                    this.errors.emailAlreadyExists = true;
                } else if (e.response.data._title == "USERNAME_ALREADY_EXISTS") {
                    this.errors.usernameAlreadyExists = true;
                } else {
                    this.errors.otherError = true;
                }
            }
        },
    },
});
</script>
