<template>
  <v-container>
    <v-row justify="center" class="mt-5">
      <v-col cols="10">
        <div class="map" ref="chartRef"></div>
      </v-col>
      <v-col cols="2">
        <h2>Top 3 des pays</h2>
        <v-card
        class="my-1"
          v-for="country in topCountries"
          v-bind:key="country.id"
          color="primary lighten1"
        >
          <v-card-title class="white--text">{{
            countries[country.id] + ": " + country.value
          }}</v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <v-row class="mt-12" justify="center">
      <v-col cols="auto">
        <h1>Nombre de stage: {{ total }}</h1>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import {
  defineComponent,
  onBeforeUnmount,
  onMounted,
  ref,
  Ref,
} from "@vue/composition-api";
import * as am4core from "@amcharts/amcharts4/core";
import { MapPolygonSeries, MapChart } from "@amcharts/amcharts4/maps";
import am4geodataWorldLow from "@amcharts/amcharts4-geodata/worldLow";
import am4themesAnimated from "@amcharts/amcharts4/themes/animated";
import internshipService from "@/service/internshipService";
import am4geodataLangFR from "@amcharts/amcharts4-geodata/lang/FR";
import Swal from "sweetalert2";

am4core.useTheme(am4themesAnimated);

export default defineComponent({
  setup() {
    const chartRef = ref<HTMLElement>();
    let chart: MapChart;
    let total = ref(0);
    let topCountries: Ref<any[]> = ref([]);
    onMounted(async () => {
      chart = am4core.create(chartRef.value, MapChart);
      chart.geodata = am4geodataWorldLow;

      // Configure series
      let polygonSeries = new MapPolygonSeries();
      let polygonTemplate = polygonSeries.mapPolygons.template;
      polygonTemplate.tooltipText = "{name}: {value}";
      polygonTemplate.fill = am4core.color("#CCC");
      polygonSeries.useGeodata = true;
      polygonSeries.exclude = ["AQ"];
      chart.series.push(polygonSeries);

      try {
        const res = await internshipService.getInternshipsPerCountry();
        const countries: any[] = res.data;
        countries.forEach((country) => {
          total.value += country.value;
        });
        countries.sort((a, b) => b.value - a.value);
        if (countries.length < 3) {
          topCountries.value = countries.slice(0, countries.length);
        } else {
          topCountries.value = countries.slice(0, 3);
        }
        polygonSeries.data = countries;
        polygonSeries.heatRules.push({
          property: "fill",
          target: polygonSeries.mapPolygons.template,
          min: am4core.color("#AAAA11"),
          max: am4core.color("#BD0019"),
          logarithmic: true,
        });
      } catch (err) {
        let text = "";
        switch (err.response?.status) {
          case 401: {
            text = "Votre session n'est plus valide, veuillez vous reconnecter";
            break;
          }
          case 422: {
            text = "Des informations sont invalides";
            break;
          }
          default: {
            text = "Une erreur est survenue";
          }
        }

        Swal.fire({
          title: "Erreur",
          text: text,
          icon: "error",
          confirmButtonText: "OK",
        });
      }
    });
    onBeforeUnmount(() => {
      chart.dispose();
    });
    const names = Object.values(am4geodataLangFR).map(
      (name) => name.split(",")[0]
    );
    const ids: any = Object.keys(am4geodataLangFR);
    let countries: any[] = [];
    for (let i = 0; i < ids.length; i++) {
      countries[ids[i]] = names[i];
    }
    return { chartRef, total, topCountries, countries };
  },
});
</script>

<style scoped>
.map {
  height: 600px;
}
</style>