<template>
  <v-card>
    <v-card-title>Modifier un stage</v-card-title>
    <v-card-text>
      <v-form v-model="valid" @submit.prevent="$emit('save', internship)">
        <v-row no-gutters>
          <v-col cols="12">
            <v-textarea
              label="Description du stage"
              counter="300"
              v-model="internship.description"
              auto-grow
            >
            </v-textarea>
          </v-col>
        </v-row>
        <v-row class="text-center">
          <v-col cols="12">
            <v-alert type="error" v-if="errors.otherError"
              >Une erreur est survenue</v-alert
            >
          </v-col>
        </v-row>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" @click="$emit('cancel')">Annuler</v-btn>
          <v-btn color="primary" type="submit" :disabled="!valid"
            >Sauvegarder</v-btn
          >
        </v-card-actions>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { Internship } from "@/model/Internship";
import { defineComponent, ref, reactive } from "@vue/composition-api";

interface Props {
  internship: Internship;
}
export default defineComponent<Props>({
  name: "EditForm",
  props: {
    internship: {
      type: Object,
      required: true,
    },
  },
  setup() {
    const success = ref(false);
    const errors = reactive({
      otherError: false,
    });

    const rules = {
      required: (v: any) => !!v || "Champs requis",
      min: (v: any) => (v && v.length >= 3) || "Le champs est trop court",
    };

    return {
      success,
      rules,
      errors,
      valid: ref(false),
    };
  },
});
</script>

<style>
</style>