<template>
  <v-container fluid>
    <h2 class="text-center">Demander un nouveau stage</h2>
    <h4 class="text-center">
      Merci de remplir ce formulaire pour créer une nouvelle demande de stage
    </h4>
    <v-row align="center" justify="center">
      <v-col cols="10">
        <v-form ref="form" @submit.prevent="create()" v-model="valid">
          <v-row>
            <v-col cols="12" md="6">
              <v-select
                name="country"
                label="Pays"
                v-model="internship.country"
                :rules="[rules.required]"
                required
                :items="countries"
                item-value="id"
                item-text="label"
              ></v-select>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                v-model="internship.city"
                label="Ville"
                required
                :rules="[rules.required]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="12" md="6">
              <v-date-picker
                :min="tommorow"
                locale="fr"
                first-day-of-week="1"
                no-title
                v-model="tempDates"
                range
                flat
              ></v-date-picker>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                v-model="dateRangeText"
                label="Date du stage"
                prepend-icon="mdi-calendar"
                readonly
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-textarea
                label="Description du stage"
                counter="300"
                v-model="internship.description"
                auto-grow
              >
              </v-textarea>
            </v-col>
          </v-row>
          <v-row class="text-center">
            <v-col cols="12">
              <v-alert type="error" v-if="errors.otherError"
                >Une erreur est survenue</v-alert
              >
            </v-col>
            <v-spacer> </v-spacer>
            <v-col>
              <v-btn :disabled="!valid" color="primary" type="submit"
                >Créer</v-btn
              >
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import intershipService from "../service/internshipService";
import am4geodataLangFR from "@amcharts/amcharts4-geodata/lang/FR";
import { defineComponent, ref, reactive } from "@vue/composition-api";
import Swal from "sweetalert2"

export default defineComponent({
  name: "IntershipForm",

  setup() {
    const internship: Record<string, any> = reactive({
      startDate: "",
      endDate: "",
      description: "",
      city: "",
      country: "",
    });
    const success = ref(false);

    let now: any = new Date();
    now.setDate(new Date().getDate() + 1);
    const tommorow = now.toISOString().split("T")[0];
    let tempDates = ref([tommorow, tommorow]);
    const errors = reactive({
      otherError: false,
    });

    const rules = {
      required: (v: any) => !!v || "Champs requis",
      min: (v: any) => (v && v.length >= 3) || "Le champs est trop court",
    };
    const names = Object.values(am4geodataLangFR).map(name => name.split(',')[0]);
    const ids = Object.keys(am4geodataLangFR);
    let countries = [];
    for (let i = 0; i < ids.length; i++) {
      countries.push({ label: names[i], id: ids[i] });
    }
    return {
      valid: ref(false),
      errors,
      rules,
      internship,
      tempDates,
      success,
      tommorow,
      countries,
    };
  },
  computed: {
    dateRangeText(): string {
      if (this.tempDates[0] > this.tempDates[1]) {
        let temp = this.tempDates[0];
        this.tempDates[0] = this.tempDates[1];
        this.tempDates[1] = temp;
      }
      return this.tempDates.join(" ~ ");
    },
  },
  methods: {
    async create() {
      this.errors.otherError = false;
      this.internship.startDate = new Date(this.tempDates[0]);
      this.internship.endDate = new Date(this.tempDates[1]);
      Swal.fire({
        title: "Veuillez patienter",
        text: "Création du stage en cours...",
        icon: "info",
        showConfirmButton: false,
        allowOutsideClick: false,
      })
      try {
        await intershipService.createInternship(this.internship);
        this.success = true;
        this.internship = {
          startDate: "",
          endDate: "",
          description: "",
          city: "",
          country: "",
        };
        const refForm: any = this.$refs.form;
        refForm.reset();
        Swal.fire({
          title: "Succès",
          text: "Votre demande a été créée",
          icon: "success",
          confirmButtonText: "OK",
        });

      } catch (err) {
        this.errors.otherError = true;
        let text = ""
        switch (err.response?.status) {
          case 401: {
            text = "Votre session n'est plus valide, veuillez vous reconnecter";
            break;
          }
          case 422: {
            text = "Des informations sont invalides";
            break;
          }
          default: {
            text = "Une erreur est survenue";
          }
        }
        Swal.fire({
          title: "Erreur",
          text: text,
          icon: "error",
          confirmButtonText: "OK",
        });

      }
    },

    allowedDates: (val: string) => new Date(val) >= new Date(),
  },
});
</script>
